// :root CSS dark variables

[data-layout-mode="dark"] {

    // Prefix for :root CSS variables
    @each $color,
    $value in $grays {
        --#{$prefix}gray-#{$color}: #{$value};
    }

    --#{$prefix}body-bg:                                    #0f1419;
    --#{$prefix}body-bg-rgb:                                rgb(15, 20, 25);
    --#{$prefix}body-color-rgb:                             #{to-rgb($white)};
    --#{$prefix}body-color:                                 #{$white};
    --#{$prefix}heading-color:                              #{$white};
    --#{$prefix}border-color:                               #{$gray-300};
    --#{$prefix}custom-white:                               #{$white};

    --#{$prefix}input-border-color:                         #{$gray-300};
    --#{$prefix}input-focus-border-color:                   #{lighten($gray-300, 4%)};
    --#{$prefix}hr-border-color:                            #{$gray-300};
    --#{$prefix}form-check-input-border:           #{lighten($gray-300, 4%)};

    // component variable
    --#{$prefix}light:                                      #{$gray-300};
    --#{$prefix}light-rgb:                                  #{to-rgb($gray-300)};
    --#{$prefix}dark:                                       #{$gray-700};
    --#{$prefix}dark-rgb:                                   #{to-rgb($gray-700)};

    //topbar
    --#{$prefix}heading-bg:                                 #1a1f2e;
    --#{$prefix}header-item-color:                          #{$gray-400};
    --#{$prefix}topbar-search-bg:                           #{$gray-200};

    --#{$prefix}heading-dark-bg:                            #{$primary};

    --#{$prefix}boxed-body-bg:                              #1a1f2e;

    --#{$prefix}topnav-bg:                                  #1a1f2e;
    --#{$prefix}menu-item-color:                            #a6b0cf;

    //footer
    --#{$prefix}footer-bg:                                  #1a1f2e;
    --#{$prefix}footer-color:                               #{$gray-400};

    .card{
        --#{$prefix}card-bg:                                    #{$gray-200};
    }

    .list-group {
        --#{$prefix}list-group-bg:                                     #{$gray-200};
        --#{$prefix}list-group-color:                                  #{$gray-900};
        --#{$prefix}list-group-border-color:                           #{$gray-300};
    }

    .btn-light {
        --#{$prefix}btn-color:                                         #{$gray-600};
        --#{$prefix}btn-bg:                                            #{$gray-300};
        --#{$prefix}btn-border-color:                                  #{$gray-300};
    }

    .btn-outline-light {
        --#{$prefix}btn-color:                                         #{$gray-600};
        --#{$prefix}btn-border-color:                                  #{$gray-300};
    }

    .btn-light,
    .btn-outline-light {
        --#{$prefix}btn-hover-color:                        #{$gray-600};
        --#{$prefix}btn-hover-bg:                           #{$gray-300};
        --#{$prefix}btn-hover-border-color:                 #{$gray-300};
        --#{$prefix}btn-active-color:                       #{$gray-600};
        --#{$prefix}btn-active-bg:                          #{$gray-300};
        --#{$prefix}btn-active-border-color:                #{$gray-300};
        --#{$prefix}btn-focus-shadow-rgb:                   #{to-rgb($gray-300)};
    }

    .btn-dark {
        --#{$prefix}btn-bg:                                 #{$gray-400};
        --#{$prefix}btn-border-color:                       #{$gray-400};
        --#{$prefix}btn-hover-bg:                           #{$gray-400};
    }

    .btn-outline-dark {
        --#{$prefix}btn-color:                              #{$gray-400};
        --#{$prefix}btn-border-color:                       #{$gray-400};
    }
    
    .btn-dark,
    .btn-outline-dark {
        --#{$prefix}btn-hover-bg:                           #{$gray-400};
        --#{$prefix}btn-hover-border-color:                 #{$gray-400};
        --#{$prefix}btn-active-bg:                          #{$gray-400};
        --#{$prefix}btn-active-border-color:                #{$gray-400};
        --#{$prefix}btn-focus-shadow-rgb:                   #{to-rgb($gray-600)};
    }

    .dropdown-menu {
        --#{$prefix}dropdown-bg:                            #{$primary};
        --#{$prefix}dropdown-link-color:                    #{$gray-400};
        --#{$prefix}dropdown-border-color:                  #{$gray-300};
        --#{$prefix}dropdown-border-width:                  1px;
        --#{$prefix}dropdown-divider-bg:                    #{$gray-300};
        --#{$prefix}dropdown-link-hover-bg:                 #{$primary};
        --#{$prefix}dropdown-link-hover-color:              #e9ecef;
        --#{$prefix}dropdown-link-active-bg:                #{$primary};
        --#{$prefix}dropdown-link-active-color:             #e9ecef;
    }

    
    .modal {
        --#{$prefix}modal-bg:                                           #{$primary};
    }
    
    .offcanvas,
    .offcanvas-lg,
    .offcanvas-md,
    .offcanvas-sm,
    .offcanvas-xl,
    .offcanvas-xxl{
        --#{$prefix}offcanvas-bg:                                       #{$gray-200};
    }
    
    .nav-tabs {
        --#{$prefix}nav-tabs-link-active-bg:                            #{$gray-200};
        --#{$prefix}nav-tabs-link-active-border-color:                  #{lighten($gray-300, 4%)};
        --#{$prefix}nav-tabs-border-color:                              #{lighten($gray-300, 4%)};
        --#{$prefix}nav-tabs-link-hover-border-color:                   #{lighten($gray-300, 4%)};
        --#{$prefix}nav-tabs-link-active-color:                         #{$primary};
    }
    
    .accordion {
        --#{$prefix}accordion-active-bg:                                #{rgba($primary, 0.1)};
    }
    
    .toast{
        --#{$prefix}toast-header-bg:                                    #{$gray-200};
        --#{$prefix}toast-header-color:                                 #{$gray-600};
        --#{$prefix}toast-bg:                                           #{$gray-200};
    }
    
    .table {
        --#{$prefix}table-striped-bg:                                   #{rgba($gray-500, .05)};
        --#{$prefix}table-hover-bg:                                     #{rgba($gray-500, .05)};
        --#{$prefix}table-active-bg:                                    #{rgba($gray-500, .05)};
    }

    .table-light {
        --#{$prefix}table-color:                                        #{$gray-400};
        --#{$prefix}table-bg:                                           #{$gray-300};
        --#{$prefix}table-border-color:                                 #525252;
    }
    
    .table-dark {
        --#{$prefix}table-color:                                        #{$gray-400};
        --#{$prefix}table-bg:                                           #{$gray-300};
        --#{$prefix}table-border-color:                                 #525252;
    }
}